.overlay{
	width:100vw;
	height:100vh;
	position:fixed;
	top:0;
	left:0;
	background:#000;
	opacity:40%;
	z-index:1;
}
/* Сейчас у Вас модальное окно с IngredientDetails показывается на совершенно непрозрачной подложке, надо сделать его показ, как и раньше, чтобы была видна главная страница.
Было opacity:60%; при этом у меня была видна главная страница, сделал 40%, стало прозрачнее.. Или я Вас не так понял?
       */