.wrap{
	position:relative;
	float:left;
	margin-top:110px;
	margin-left:80px;
}

.element{
	display: flex;
	align-items: center;
	position:relative;
	cursor:pointer;
}

.icon{
	position:relative;
	margin-right:5.5px;
}

.elements{
	position:relative;
	padding: 0 8px 0 0;
	margin:0;
	max-height:440px;
	min-height:80px;
	width:573.5px;
	right:29px;
	overflow-y: scroll;
}
.elements li{
	list-style-image: none;
}

.elements::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
    background-color: #2F2F37;
}

.elements::-webkit-scrollbar-thumb {
    background-color: #8585AD;
	border: 3px solid #8585AD;
	width: 8px;
}

.price{
	display: flex;
	align-items: center;
	position:relative;
	margin-top:40px;
	margin-left:162px
}

.price svg{
	width:33px;
	height:33px;
	padding-left:9.5px;
	padding-right:40px;
}

.dropContainer{
	width:90%;
	height:100%;
	position:absolute;
}