.order{
	width:640px;
	margin-top:122px;
}

.order li {
		list-style-type: none;
}

.ingredients{
	position:relative;
	float:left;
	max-height:312px;
	min-height:60px;
	width:640px;
	overflow-y: scroll;
	padding:0px;
	margin-top:24px;
}

.ingredients::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
    background-color: #2F2F37;
}

.ingredients::-webkit-scrollbar-thumb {
    background-color: #8585AD;
	border: 3px solid #8585AD;
	width: 8px;
}

.ingredient{
	height:60px;
	display:flex;
	align-items: center;
}

.circle {
  width: 56px;
  height: 56px;
  position:relative;
  border: 2px solid #801AB2;
  background-color:  #1C1C21;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
}
.circle::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.circle img {
  display: inline-block;
  vertical-align: middle;
  margin-top:-85px;
}

.cost{
	display:flex;
	position:relative;
	float:right;
	justify-content: center;
	margin-left:16px;
}
.cost svg{
	margin-left:8px;
}