.details{
	width:100%;
	position:relative;
	text-align:center
}
.details img{
	position:relative;
	clear:both;
}
.details p{
	position:relative;
	clear:both;
}

.details li {
	color:#8585AD;
	display:inline-block;
	margin-left:20px;
    list-style-type: none;
   }
   .details ul {
	display:inline-block;
	margin-top:32px;
	margin-right:40px;
	padding-bottom:60px;
    list-style-type: none;
   }
   