a {
text-decoration:none;
}

main{
	display: flex;
	width:100vw;
	justify-content: center;
	
}
.input{
	width:480px;
	margin-top:24px;
}
#react-modals{
	position:fixed;
	top:0;
	left:0;
	height:100vh;
	display:flex;
	align-items: center;
}