.header{
	position:relative;
	display: flex;
	width:100vw;
	height:88px;
	background-color: #1C1C21;
	align-items: center;
	justify-content: space-around;
}

.logo{
	position:absolute;
	float:left;
	display: flex;
	width:100%;
	justify-content: center;
}

.menu{
	display: flex;
	position:relative;
	float:left;
	align-items: center;
	padding: 16px 20px 16px 20px!important;
	border-radius: 40px;
}

.menu svg{
	padding-right:8px;
}

.menu:nth-child(1) {
	color:#fff;
}
.menu:nth-child(2) path{
	fill:#8585AD;
}
.menu:nth-child(2) {
	margin-left:8px;
	color:#8585AD;
}
.menu:nth-child(3) path{
	fill:#8585AD;
}
.menu:nth-child(3) {
	color:#8585AD;
}
